/* Global Styles */
:root {
  --primary-dark-violet: hsl(256, 26%, 20%);
  --primary-grayish-blue: hsl(216, 30%, 68%);
  --secondary-dark-violet: hsl(270, 9%, 17%);
  --secondary-gray-violet: hsl(273, 4%, 51%);
  --secondary-light-gray: hsl(0, 0%, 98%);
  --body-font: "Karla", sans-serif;
  --heading-font: "DM Serif Display", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: var(--body-font);
}

a {
  text-decoration: none;
  color: black;
}

/* End of Global Styles */

/* Nav Elements */
.nav {
  display: flex;
  padding: 10px 0;
  width: 80%;
  margin: 0 auto;

  &__brand {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: normal;
    margin-right: 1rem;
  }

  &__hamburger {
    display: none;
  }

  &__collapse {
    margin-left: auto;
    display: block;
    background: url("../images/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 30px;
    width: 30px;
    transition: opacity 0.1s;
    border: none;
    outline: none;

    &--close {
      background: url("../images/icon-close.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: auto;
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
  }

  &__pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
    display: none;
  }

  &__link {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: var(--secondary-gray-violet);
    font-weight: bold;
    margin: 0 1.5rem;
    transition: color 0.2s ease;

    &:hover {
      color: var(--secondary-dark-violet);
    }

    &--button {
      padding: 0.5rem 2rem;
      color: var(--secondary-dark-violet);
      border: 2px solid var(--secondary-dark-violet);
      transition: all 0.2s ease;

      &:hover {
        color: white;
        background-color: var(--secondary-dark-violet);
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
/* End of Nav Elements */

/* Main */

/* End of Main */

/* Banner */
.banner {
  position: relative;

  &__image {
    position: absolute;
    height: 100%;
    right: 5%;
    top: 5rem;
    z-index: 1;
  }

  &__container {
    background-color: var(--primary-dark-violet);
    position: relative;
    z-index: 0;
  }

  &__pattern {
    position: absolute;
    z-index: 3;
    pointer-events: none;

    &--desktop-left {
      bottom: -30%;
      left: 0;
      height: 80%;
    }
    &--desktop-right {
      right: 0;
      height: 90%;
    }
    &--mobile-left {
      top: 0;
      left: 0;
      display: none;
    }
    &--mobile-right {
      right: 0;
      bottom: 0;
      display: none;
    }
  }

  &__content {
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
  }

  &__break {
    background-color: white;
    width: 10%;
    height: 2px;
  }

  &__title {
    font-family: var(--heading-font);
    letter-spacing: 2px;
    font-size: 3rem;
    margin-top: 3rem;
    color: white;
    width: 30%;
  }

  &__subtitle {
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
    text-align: justify;
    width: 40%;
  }

  &__button {
    display: inline-block;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    transition: 0.2s ease;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: var(--primary-dark-violet);
      background-color: white;
    }
  }
}
/*End of Banner */

/* Services */
.services {
  padding-top: 10rem;

  &__container {
    width: 80%;
    margin: 0 auto;
  }

  &__break {
    width: 25%;
    height: 2px;
    background-color: var(--primary-grayish-blue);
  }

  &__heading {
    font-size: 3rem;
    font-family: var(--heading-font);
    letter-spacing: 2px;
    margin-top: 2rem;
  }

  &__cards {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .card {
    &__title {
      margin-top: 1rem;
      font-family: var(--heading-font);
    }
    &__subtitle {
      margin-top: 1rem;
      text-align: justify;
    }
  }
}
/* End of Services */
/* Misc */
.misc {
  padding: 10rem 0 5rem 0;

  &__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    background-color: var(--primary-dark-violet);
    padding: 2rem 4rem;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__pattern {
    position: absolute;
    right: 0;
    top: 0;
    pointer-events: none;

    &--mobile {
      display: none;
    }
  }

  &__heading {
    font-size: 3rem;
    letter-spacing: 2px;
    font-family: var(--heading-font);
    color: white;
    margin-right: 1rem;
  }

  &__button {
    padding: 0.5rem 1rem;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-left: auto;
    transition: 0.2s ease;
    font-weight: bold;

    &:hover {
      color: var(--primary-dark-violet);
      background-color: white;
    }
  }
}
/* End of Misc */

/* Footer */
.footer {
  background-color: var(--secondary-light-gray);
  position: relative;

  &__pattern {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    &--mobile {
      display: none;
    }
  }

  &__container {
    width: 80%;
    margin: 0 auto;
    padding: 2.5rem 0;
  }

  &__nav {
    padding-bottom: 1rem;
    border-bottom: 1.2px solid var(--primary-grayish-blue);
    display: flex;
    align-items: center;

    &-brand {
      text-transform: uppercase;
      margin-right: 2rem;
    }
  }

  &__social-links {
    margin-left: auto;
  }

  &__social-link {
    color: var(--secondary-gray-violet);
    margin: 0 10px;
    transition: color 0.2 ease-in;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: var(--secondary-dark-violet);
    }
  }

  &__row {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  &__column {
    &-title {
      font-size: 0.8rem;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--secondary-gray-violet);
    }
    &-links {
      margin-top: 2rem;
    }
    &-link {
      font-size: 0.9rem;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      color: var(--secondary-dark-violet);
      margin: 10px 0;
      transition: color 0.2s ease-out;
      &:hover {
        color: var(--secondary-gray-violet);
      }
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/* End of Footer */

/* Media Queries */
@media screen and (max-width: 976px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 796px) {
  html {
    font-size: 13px;
  }

  .nav {
    display: block;
    padding-bottom: 0;
    width: 100%;

    &__brand {
      width: 60%;
      margin-left: 10%;
    }

    &__hamburger {
      display: block;
      width: 40%;
      float: right;
      margin-right: 10%;
    }

    &__links {
      height: 0;
      flex-direction: column;
      background-color: var(--primary-dark-violet);
      transition: height 0.5s ease-in-out;
      margin-top: 10px;
      overflow: hidden;

      &--open {
        height: calc(100vh - 50px);
      }
    }

    &__pattern {
      display: block;
      transition: opacity 0.5s ease-in-out;
    }

    &__link {
      margin: 4rem 0 0;
      font-size: 1.3rem;
      color: white;

      &:hover {
        color: var(--primary-grayish-blue);
      }

      &--button {
        border-color: white;
        &:hover {
          background-color: white;
          color: var(--primary-dark-violet);
        }
      }
    }
  }
  .banner__image {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 14px;
  }

  .banner {
    &__image {
      display: block;
      position: unset;
      width: 100%;
      height: auto;
    }
    &__pattern {
      &--desktop-left,
      &--desktop-right {
        display: none;
      }
      &--mobile-left,
      &--mobile-right {
        display: block;
      }
    }
    &__content {
      padding: 3rem 0;
    }
    &__break {
      display: none;
    }
    &__title {
      width: 100%;
      text-align: center;
      margin-top: 0;
    }
    &__subtitle {
      width: 100%;
      text-align: center;
    }
    &__button {
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center;
      width: 50%;
    }
  }

  .services {
    padding-top: 5rem;

    &__break {
      margin: 0 auto;
    }

    &__heading {
      font-size: 3rem;
      font-family: var(--heading-font);
      letter-spacing: 2px;
      margin-top: 2rem;
      text-align: center;
    }

    &__cards {
      grid-template-columns: 1fr;
    }

    .card {
      &__image {
        margin: 0 auto;
        display: block;
      }

      &__title {
        text-align: center;
        margin-top: 1rem;
        font-family: var(--heading-font);
      }

      &__subtitle {
        margin-top: 1rem;
        text-align: center;
      }
    }
  }

  .misc {
    padding: 5rem 0;
    &__container {
      display: block;
    }
    &__pattern {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
      }
    }
    &__heading {
      text-align: center;
      display: block;
      font-size: 2rem;
    }
    &__button {
      display: block;
      width: 75%;
      margin: 2rem auto 0;
    }
  }

  .footer {
    &__pattern {
      &--desktop {
        display: none;
      }
      &--mobile {
        display: block;
        width: 100%;
      }
    }

    &__nav {
      display: block;

      &-brand {
        display: block;
        text-align: center;
        margin-left: 25px;
      }
    }

    &__social-links {
      display: block;
      text-align: center;
      margin: 2rem 0;
    }

    &__row {
      grid-template-columns: 1fr;
    }

    &__column {
      text-align: center;
      margin: 1.5rem 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/* End of Media Queries */
